@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <br />
    <div>
        <img width="109" height="109" class="imgCenter" src="https://squashniagara.files.wordpress.com/2018/11/cropped-cropped-71.jpg" />
    </div>
    <h1 class="text-center">Squash Niagara</h1>
    <!-- (Use for Titles) -->
    <br />
    <br />
    <br />
    <p>Updates, information and events will be regularly updated under the News tab.</p>
    <p>Results, standings through <a href="http://squashresults.com/Squash-Niagara" target="_blank">SquashResults.com</a></p>
    <p><a href="https://docs.google.com/spreadsheets/d/1za9jv9Grm-D4rMGpIuoDRRkil8ApXgrwvJGNd28MKFE/edit?usp=sharing" target="_blank">Men's Schedule</a></p>
    <p><a href="https://docs.google.com/spreadsheets/d/1J04n3-_t11HdD5kz9ZDj83Vqbsg2DOOs50iOLfguGNo/edit?usp=sharing" target="_blank">Women's Schedule </a></p>
    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>

        </ul>

        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>
