<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Squash Niagara- Welcome</title>

</head>
<body>
    <form id="form1" runat="server">
        
        <br />
        <div class="container">
            <div>
                <img width="109" height="109" class="imgCenter" src="https://squashniagara.files.wordpress.com/2018/11/cropped-cropped-71.jpg" />
            </div>
            <h1 class="text-center">Squash Niagara News</h1>

            <br />
            <br />
            <br />

            <div class="panel-group" id="accordion">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            Board of Directors - NOVEMBER 16, 2018
                        </a>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p>Board of Directors</p>

                            <p>President – Rachael Forgeron</p>
                            <p>Vice-President – Simon Hall</p>
                            <p>Past President – Doug McDonald – Division 1/2 Rep</p>
                            <p>Treasurer – Jake Lipinski</p>
                            <p>Secretary – Sandra Dendy – Women’s Rep</p>
                            <p>Web Master – Chris Savarie</p>

                            <p>Directors:</p>

                            <p>Phil Aymar – Division 3 Rep</p>
                            <p>Adam Christie</p>
                            <p>Jeff Corey</p>
                            <p>Dave Forgeron – Division 1/2 Rep</p>
                            <p>Steve Harper – Division 4 Rep</p>
                            <p>Cindy Sachvie</p>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                Welcome to 2018 -19 Season! - NOVEMBER 15, 2018
                            </a>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Welcome to the 2018-19 season!</p>

                                <p>We are excited to introduce our new Board of Directors and our new website.</p>

                                <p>Thank you all for your patience as we’ve updated our systems. More announcements to follow!</p>

                                <p>Rachael</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        
        <br /><br />
    </form>
</body>
</html>