<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Squash Niagara- Welcome</title>
   
    <style>
        .btn-file {
            position: relative;
            overflow: hidden;
        }

            .btn-file input[type=file] {
                position: absolute;
                top: 0;
                right: 0;
                min-width: 100%;
                min-height: 100%;
                font-size: 100px;
                text-align: right;
                filter: alpha(opacity=0);
                opacity: 0;
                outline: none;
                background: white;
                cursor: inherit;
                display: block;
            }

        #img-upload {
            width: 100%;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
       
        <br />
        <div class="container">
            <img width="109" height="109" class="mx-auto d-block" src="https://squashniagara.files.wordpress.com/2018/11/cropped-cropped-71.jpg" />
            <h1 class="display-3 text-center">Squash Teams</h1>
            <!-- (Use for Titles) -->
            <br />
            <br />
            <br />

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Select Div:</label>
                <div class="col-sm-3">
                    <select class="form-control" id="sel11" name="sellist1">
                        <option>Men's Div 1/2</option>
                        <option>Men's Div 3</option>
                        <option>Men's Div 4</option>
                        <option>Women's Div</option>
                    </select>
                </div>

            </div>


            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Select Team:</label>

                <div class="col-sm-3">
                    <select class="form-control" id="sel1" name="sellist1">
                        <option>Ridely 2 </option>
                        <option>White Oaks 1</option>
                        <option>White Oaks 2</option>
                        <option>White Oaks 3</option>
                        <option>White Oaks 4</option>
                        <option>BAC 1</option>
                        <option>BAC 2</option>
                        <option>Brock 1</option>
                    </select>
                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus" aria-hidden="true"></i> Add Team</button>
            </div>

            <!-- The Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Team Details</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Team Name:</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" placeholder="Enter Team Name" />
                                </div>
                            </div>



                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Upload Team Image:</label>
                                <div class="col-sm-9">

                                    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" />
                                    <small id="fileHelp" class="form-text text-muted">This Image Size can't be more than 200kb.</small>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>
            <table id="playerRanking" class="table table-striped table-bordered" style="width: 100%">
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>Played</th>
                        <th>Won</th>
                        <th>Lost</th>
                        <th>For</th>
                        <th>Against</th>
                        <th>Points</th>
                        <th>Average</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Forgeron, Rachael</td>
                        <td>12</td>
                        <td>10</td>
                        <td>2</td>
                        <td>32</td>
                        <td>13</td>
                        <td class="alt-fg">57</td>
                        <td>4.8</td>
                    </tr>
                    <tr>
                        <td>Bowie, Matt</td>
                        <td>13</td>
                        <td>8</td>
                        <td>5</td>
                        <td>30</td>
                        <td>17</td>
                        <td class="alt-fg">57</td>
                        <td>4.4</td>
                    </tr>
                    <tr>
                        <td>Forgeron, Dave</td>
                        <td>13</td>
                        <td>9</td>
                        <td>4</td>
                        <td>32</td>
                        <td>22</td>
                        <td class="alt-fg">53</td>
                        <td>4.1</td>
                    </tr>
                    <tr>
                        <td>Christie, Adam</td>
                        <td>11</td>
                        <td>9</td>
                        <td>2</td>
                        <td>29</td>
                        <td>13</td>
                        <td class="alt-fg">51</td>
                        <td>4.6</td>
                    </tr>
                    <tr>
                        <td>Lipinski, Jakub</td>
                        <td>10</td>
                        <td>7</td>
                        <td>3</td>
                        <td>24</td>
                        <td>10</td>
                        <td class="alt-fg">47</td>
                        <td>4.7</td>
                    </tr>
                    <tr>
                        <td>Scott, Angus</td>
                        <td>11</td>
                        <td>9</td>
                        <td>2</td>
                        <td>28</td>
                        <td>17</td>
                        <td class="alt-fg">46</td>
                        <td>4.2</td>
                    </tr>
                    <tr>
                        <td>Savarie, Chris</td>
                        <td>12</td>
                        <td>8</td>
                        <td>4</td>
                        <td>25</td>
                        <td>19</td>
                        <td class="alt-fg">46</td>
                        <td>3.8</td>
                    </tr>

                </tbody>

            </table>
            <br />
            <br />

            <button type="submit" class="btn btn-primary">Submit</button>
            <br />
            <br />
        </div>
        
    </form>
</body>
</html>