@model SquashNiagara.Models.Player

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Player</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label class="control-label">Picture File:</label>
                <input type="file" class="" name="thePicture" /><br />
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Admin"))
                {
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IsEnabled" class="control-label"></label>
                        <input asp-for="IsEnabled" class="form-control" id="IsEnabled" name="IsEnabled" type="checkbox" />
                        <span asp-validation-for="IsEnabled" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @*<label asp-for="PositionID" class="control-label"></label>*@
                        <label>Position</label>
                        <select asp-for="PositionID" class="form-control" asp-items="ViewBag.PositionID">
                            <option value="">Select a Position</option>
                        </select>
                    </div>
                    <div class="form-group">
                        @*<label asp-for="TeamID" class="control-label"></label>*@
                        <label>Team</label>
                        <select asp-for="TeamID" class="form-control" asp-items="ViewBag.TeamID">
                            <option value="">Select a Team</option>
                        </select>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" disabled />
                        <input type="hidden" asp-for="Email" />
                    </div>
                    <div class="form-group">
                        @*<label asp-for="PositionID" class="control-label"></label>*@
                        <label>Position</label>
                        <select asp-for="PositionID" class="form-control" asp-items="ViewBag.PositionID" disabled>
                            <option value="0">Select a Position</option>
                        </select>
                        <input type="hidden" asp-for="PositionID" />
                    </div>
                    <div class="form-group">
                        @*<label asp-for="TeamID" class="control-label"></label>*@
                        <label>Team</label>
                        <select asp-for="TeamID" class="form-control" asp-items="ViewBag.TeamID" disabled>
                            <option value="0">Select a Team</option>
                        </select>
                        <input type="hidden" asp-for="TeamID" />
                    </div>
                }
            }

            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>

            <div>
                @{
                    if (Model.imageContent != null && Model.imageMimeType.Contains("image"))
                    {
                        string imageBase64 = Convert.ToBase64String(Model.imageContent);
                        string imageSrc = string.Format("data:" + Model.imageMimeType + ";base64,{0}", imageBase64);
                        <img src="@imageSrc" style="max-height: 500px; max-width: 600px" class="img-responsive img-rounded" /><br />
                        <input type="checkbox" id="chkRemoveImage" name="chkRemoveImage" /> <strong>Check to remove Image</strong>
                    }
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
