@model SquashNiagara.Models.Fixture

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Fixture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SeasonID" class="control-label"></label>
                <select asp-for="SeasonID" class ="form-control" asp-items="ViewBag.SeasonID"></select>
            </div>
            <div class="form-group">
                <label asp-for="DivisionID" class="control-label"></label>
                <select asp-for="DivisionID" class ="form-control" asp-items="ViewBag.DivisionID"></select>
            </div>
            <div class="form-group">
                <label asp-for="HomeTeamID" class="control-label"></label>
                <select asp-for="HomeTeamID" class ="form-control" asp-items="ViewBag.HomeTeamID"></select>
            </div>
            <div class="form-group">
                <label asp-for="AwayTeamID" class="control-label"></label>
                <select asp-for="AwayTeamID" class ="form-control" asp-items="ViewBag.AwayTeamID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VenueID" class="control-label"></label>
                <select asp-for="VenueID" class ="form-control" asp-items="ViewBag.VenueID"></select>
            </div>
            <div class="form-group">
                <label asp-for="HomeTeamScore" class="control-label"></label>
                <input asp-for="HomeTeamScore" class="form-control" />
                <span asp-validation-for="HomeTeamScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AwayTeamScore" class="control-label"></label>
                <input asp-for="AwayTeamScore" class="form-control" />
                <span asp-validation-for="AwayTeamScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeTeamBonus" class="control-label"></label>
                <input asp-for="HomeTeamBonus" class="form-control" />
                <span asp-validation-for="HomeTeamBonus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AwayTeamBonus" class="control-label"></label>
                <input asp-for="AwayTeamBonus" class="form-control" />
                <span asp-validation-for="AwayTeamBonus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
